/*

	IT 2320 - 	Interactive Internet Programming
	Assignment 2
	
	Stylesheet of web page interest of mine
	Author: 	D. Ceglia
	Date:		9/9/17

	
	Filename: Assignment2.css
	
*/
	
body {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#b4ddb4+0,008a00+0,008a00+0,83c783+0,52b152+0,e0e000+95,002400+100&0.3+75,1+100 */
	background: -moz-linear-gradient(left,  rgba(82,177,82,0.3) 0%, rgba(194,214,17,0.3) 75%, rgba(224,224,0,0.86) 95%, rgba(0,36,0,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left,  rgba(82,177,82,0.3) 0%,rgba(194,214,17,0.3) 75%,rgba(224,224,0,0.86) 95%,rgba(0,36,0,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right,  rgba(82,177,82,0.3) 0%,rgba(194,214,17,0.3) 75%,rgba(224,224,0,0.86) 95%,rgba(0,36,0,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4d52b152', endColorstr='#002400',GradientType=1 ); /* IE6-9 */

}

.body-paragraph {
	font: 1.0em
		  Quicksand, sans-serif;
	margin: 5px 10px 0px 10px;
}

header {
	
	
	color: black;
	font: bold 1.5em
		  Quicksand, sans-serif;
	text-align: center;
}

div.col-1-2 {
	width: 50%;
}


div.row {
	clear: both;
}

div.row::after {
	clear: both;
	content: "";
	display: table;
}

div[class^="col-"] {
	float: left;
}

.racket-image {
	width: 300px;
	height: 300px;
	border: 4px solid black;
	background-image: url(tennis-racket-hi.png);
	background-size: 300px 300px;
	display: inline-block;
	vertical-align: middle;
}

.racket-caption {
	display: inline-block;
	vertical-align: middle;
	width: 450px;
	font: 1.0em
		  Quicksand, sans-serif;
}


